body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
    text-align: center;
    margin: 0;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #1877f2;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-box {
    background: white;
    padding: 20px;
    width: 360px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.login-box h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.login-box input {
    width: 92%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    background: #1877f2;
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}


.forgot-signup {
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8px; 
}

.forgot-signup a {
    color: #1877f2;
    text-decoration: none;
    display: inline;
}

.forgot-signup a:hover {
    text-decoration: underline;
}




.signup-box {
    background: white;
    padding: 20px;
    width: 430px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: left;
}

.signup-box h2 {
    font-size: 22px;
    text-align: center;
}

.signup-box p {
    font-size: 14px;
    text-align: center;
}

/* Name Fields */
.name-fields {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.name-fields input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

/* Labels */
label {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

/* Date of Birth Fields */
.dob-fields {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.dob-fields select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

/* Gender Options */
.gender-options {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.gender-options label {
    font-size: 16px;
}

/* Signup Form Inputs */
.signup-box input {
    width: 95%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

/* Policy & Terms */
.policy-text,
.terms {
    font-size: 12px;
    color: #606770;
    margin-top: 5px;
}

.policy-text a,
.terms a {
    color: #1877f2;
    text-decoration: none;
}

/* Signup Button */
.signup-btn {
    width: 100%;
    background: #42b72a;
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

/* Already Have an Account */
.already-account {
    text-align: center;
    margin-top: 15px;
}

.already-account a {
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
}

